.promo{
min-height: 650px;
padding: 21px 0 93px 0;
background: url(../../img/bg1.png) center (center/cover) no-repeat;
&__wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
        } 
       &__header{
       color: #ffffff;
       font-size: 42px;
        font-weight: 700;
        text-align: right;
        text-transform: uppercase;
        line-height: 42px;
        } 
       &__subheader{
        text-transform: uppercase;
        color: #ffffff;
       font-size: 24px;
        font-weight: 500;
        text-align: right;
        line-height: 24px;
        } 
        &__icons{
           width: 425px;
           margin-top: 65px;
           display: flex;
           justify-content: space-between;
        } 
         &__icon{
             width: 106px;
             text-align: center;
             font-size: 14px;
             font-weight: 500;
             text-align: center;
             color: #ffffff;
            }  
           img{
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
        } 
       &__link{
            height: 25px;
            width: 223px;
           font-size: 16px; 
           font-weight: 500;
           text-align: center;
            color: #FFFFFF;
            margin-top: 8px;
            a{
            text-decoration: underline;
            color: #ffffff;

           }
        }  
        
    } 
     