
.title{
    font-size: 30px;
    font-weight: 700;
     text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    color: #0D0D0D;
    text-align: center;

    &_left{
        font-size: 36px;
        font-weight: 700;
       color: #FFFFFF;
      text-align: left;
        
    }
}